:root {
    --biggest: 6rem;
    --mid: calc(var(--biggest) * .55);
    --small: calc(var(--biggest) * .2);
    --biggest-box: 11rem;
}

html {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 775px;
    align-items: baseline;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.box1 {
    font-size: var(--small);
    height: calc(var(--biggest-box) * .30);
    flex: 1;
    background-color: seagreen;
}

.box2 {
    font-size: var(--mid);
    height: calc(var(--biggest-box) * .60);
    flex: 1.8;
    background-color: navy;
}

.box3 {
    font-size: var(--biggest);
    height: var(--biggest-box);
    flex: 2.7;
    background-color: darkslategrey;
}

.box4 {
    font-size: var(--mid);
    height: calc(var(--biggest-box) * .60);
    flex: 1.8;
    background-color: plum;
}

.box5 {
    font-size: var(--small);
    height: calc(var(--biggest-box) * .30);
    flex: 1;
    background-color: orangered;
}
