:root {
    --big: 6rem;
    --mid: calc(var(--big) * .55);
    --small: calc(var(--big) * .2);
    --big-height: 11rem;
    --mid-height: calc(var(--big-height) * .60);
    --sm-height: calc(var(--big-height) * .30);
}

html {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 775px;
    align-items: baseline;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.box1 {
    font-size: var(--small);
    height: var(--sm-height);
    flex: 1;
    background-color: seagreen;
}

.box2 {
    font-size: var(--mid);
    height: var(--mid-height);
    flex: 1.8;
    background-color: navy;
}

.box3 {
    font-size: var(--big);
    height: var(--big-height);
    flex: 2.7;
    background-color: darkslategrey;
}

.box4 {
    font-size: var(--mid);
    height: var(--mid-height);
    flex: 1.8;
    background-color: plum;
}

.box5 {
    font-size: var(--small);
    height: var(--sm-height);
    flex: 1;
    background-color: orangered;
}
