/* Write a Sass file that assigns the text color #3D3D3D to the HTML tags body and p. */
$bpColor: #3D3D3D;
$bpBackColor: #6D6D6D;

body {
    color: $bpColor;
    background-color: $bpBackColor;
}

p {
    color: $bpColor;
}

h2 {
    background-color: $bpBackColor;
}
