/* mixins */
@mixin bodyMix {
    margin-left: 10px;
    margin-right: 10px;
}
@mixin divMix {
    margin-left: 15px;
    margin-right: 15px;
}

body {
    @include bodyMix;
}
div {
    @include divMix;
}
